body {
	background-color: #262626;
}
#startScreen {
	height: 650px;
	/*background-image: url("images/wooden-table.jpg");
	background-size: cover;*/
	color: #F2EFEE;
	font-size: 23px;
	padding: 130px 222px;
	text-align: center;
	line-height: 1.6;
	border: solid;
	border-color: #F2EFEE;
	position: absolute;
	z-index: 1;
	height: 650px;
	background-color: rgba(38, 38, 38, 0.9);
}

button {
	background-color: #669900;
	color: #F2EFEE;
	margin-top: 20px;
}

.hidescreen {
	display: none;
}

h1 {
	color: #F2F2F2;
	text-align: center;
	margin: 20px;
}
.row {
	margin: 0px;
}
.game-board {
	background-image: url("images/wooden-table.jpg");
	background-size: cover;
	height: 650px;
}
.top-score, .top-timer, .top-strike {
	height: 60px;
	background-color: #F2EFEE;
	display: inline-flex;
	text-align: center;
}
#middle-menu {
	height: 300px;
	width: 100px;
	/*background-color: #996633;
	color: #996633;*/
}
#middle-menu img {
	width: 100%;
	height: 100%;
}
.chipsCustomer {
	width: 70%;
	height: 90%;
	margin-top: 16px;
}
.saladCustomer {
	width: 70%;
	height: 90%;
	margin-top: 16px;
}
.steakCustomer {
	width: 70%;
	height: 90%;
	margin-top: 16px;
}
#bottom-board1 {
	/*height: 180px;
	margin-top: 100px;*/
}
#bottom-board2 {
	/*height: 180px;
	margin-top: 100px;*/
}

#bottom-board3 {
	/*height: 180px;
	margin-top: 100px;*/
}

.chips {
	height: 75%;
	width: 55%;
	margin-left: 10%;

}
.greens {
	height: 75%;
	width: 55%;
	margin-left: 10%;
}
.meat {
	height: 75%;
	width: 55%;
	margin-left: 10%;
}

#safeTimerDisplay {
	height: 50px;
	width: 100px;
	background-color: #F2EFEE ;
	color: black;
	text-align: center;
	font-size: 25px;
	padding-top: 12px;
	border-radius: 10px;
	margin-left: 40%;
	font-weight: bold;
}
#points {
	height: 50px;
	width: 100px;
	background-color: #F2EFEE;
	color: black;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	padding: 12px;
}
.redCross {
	width: 30px;
	height: 30px;
}

#complaints {
	height: 50px;
	width: 100px;
	background-color: #F2EFEE;
	color: black;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
	display: flex;
}
span {
	padding: 10px;
	color: green;
	font-size: 30px;
}
.correctMsg {
	width: 200px;
	height: 120px;
	margin-right: 200px;
	margin-top: 50px;
	position: absolute;
}

.wrongMsg {
	width: 220px;
	height: 170px;
	margin-right: 200px;
	margin-top: 50px;
	position: absolute;
}